@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> 阅读 </title>
    <link href="~/Image/book.png" rel="shortcut icon" />
    <link rel="stylesheet" href="~/Scripts/layui/src/css/layui.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo">狄俄尼索斯 阅读</div>
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="">控制台</a></li>
                    <li class="layui-nav-item"><a href="">商品管理</a></li>
                    <li class="layui-nav-item"><a href="">用户</a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">其它系统</a>
                        <dl class="layui-nav-child">
                            <dd><a href="">邮件管理</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree" lay-filter="cbcdl">
                        
                    </ul>
                </div>
            </div>

            <div class="layui-body">
                <!-- 内容主体区域 -->
                <div style="padding: 15px;">内容主体区域</div>
                <div class="layui-tab" lay-filter="demo" lay-allowclose="true">
                    <ul class="layui-tab-title">
                        <li class="layui-this" lay-id="11">网站设置</li>
                        <li lay-id="22">用户管理</li>
                        <li lay-id="33">权限分配</li>
                        <li lay-id="44">商品管理</li>
                        <li lay-id="55">订单管理</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">内容1</div>
                        <div class="layui-tab-item">内容2</div>
                        <div class="layui-tab-item">内容4</div>
                        <div class="layui-tab-item">内容5</div>
                    </div>
                </div>
            </div>

            <div class="layui-footer">
                <!-- 底部固定区域 -->
                ©  狄俄尼索斯
            </div>
        </div>
    </div>
    <script src="~/Scripts/layui/src/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function () {
            var layer = layui.layer;  //layer初始化
            var $ = layui.jquery, element = layui.element;
            element.on('nav(cbcdl)', function (elem) {

                alert(elem.text());

                 //layui.use("layer", function () {
                 //    var layer = layui.layer;  //layer初始化
                 //    layer.msg(elem.text());
                 //});
             });
            //获取所有的菜单
            $.ajax({
                type: "GET",
                url: "/Home/getParentMeun",
                dataType: "json",
                success: function (data) {
                    //先添加所有的主材单
                    $.each(data, function (i, obj) {
                        var content = '<li class="layui-nav-item">';
                        content += '<a href="javascript:;">' + obj.meunTitle + '</a>';
                        //这里是添加所有的子菜单
                        content += loadchild(obj);
                        content += '</li>';
                        $(".layui-nav-tree").append(content);
                    });
                    element.init();
                },
                error: function (jqXHR) {
                    aler("发生错误：" + jqXHR.status);
                }
            });
            //组装子菜单的方法
            function loadchild(obj) {
                if (obj == null) {
                    return;
                }
                var content = '';
                if (obj.childrenList != null && obj.childrenList.length > 0) {
                    content += '<dl class="layui-nav-child">';
                } else {
                    content += '<dl>';
                }
                if (obj.childrenList != null && obj.childrenList.length > 0) {
                    $.each(obj.childrenList, function (i, note) {
                        content += '<dd>';
                        content += '<a href="javascript:;">' + note.meunTitle + '</a>';
                        if (note.childrenList == null) {
                            return;
                        }
                        content += loadchild(note);
                        content += '</dd>';
                    });
                    content += '</dl>';
                }
                console.log(content);
                return content;
            }
        });
    </script>
</body>
</html>
